flows_test.json
[
    {
        "id": "53a935c937a5d48c",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "bc36018ffa2c5365",
        "type": "mqtt in",
        "z": "53a935c937a5d48c",
        "name": "",
        "topic": "teste",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "9d04ab616afb299f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 180,
        "wires": [
            [
                "2aa82a23f08661c0"
            ]
        ]
    },
    {
        "id": "db1a98b144a11f4d",
        "type": "mqtt out",
        "z": "53a935c937a5d48c",
        "name": "",
        "topic": "teste",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "39d6aef39ca31177",
        "x": 290,
        "y": 100,
        "wires": []
    },
    {
        "id": "c5babfd461f626c7",
        "type": "inject",
        "z": "53a935c937a5d48c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "hello",
        "payloadType": "str",
        "x": 110,
        "y": 100,
        "wires": [
            [
                "db1a98b144a11f4d"
            ]
        ]
    },
    {
        "id": "2aa82a23f08661c0",
        "type": "debug",
        "z": "53a935c937a5d48c",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 300,
        "y": 180,
        "wires": []
    },
    {
        "id": "66d24ddb1fb70b23",
        "type": "mqtt in",
        "z": "53a935c937a5d48c",
        "name": "",
        "topic": "capteur/fumee",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "34a76f7968d546d6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 240,
        "wires": [
            [
                "ad2dfba5ebd8443b"
            ]
        ]
    },
    {
        "id": "ad2dfba5ebd8443b",
        "type": "debug",
        "z": "53a935c937a5d48c",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 280,
        "wires": []
    },
    {
        "id": "0b37abbd0a670878",
        "type": "influxdb out",
        "z": "53a935c937a5d48c",
        "influxdb": "09dfb6eb494552eb",
        "name": "",
        "measurement": "temperature",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "groupe_2_SAE_IOM",
        "bucket": "zone_rouge",
        "x": 470,
        "y": 380,
        "wires": []
    },
    {
        "id": "96d2696104daf9f1",
        "type": "inject",
        "z": "53a935c937a5d48c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "15",
        "payloadType": "num",
        "x": 130,
        "y": 380,
        "wires": [
            [
                "0b37abbd0a670878"
            ]
        ]
    },
    {
        "id": "c6a914f632781e55",
        "type": "ui_switch",
        "z": "53a935c937a5d48c",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "fd15ac4528de5e97",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 430,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "cd48f252a2b59ef2",
        "type": "mqtt in",
        "z": "53a935c937a5d48c",
        "name": "",
        "topic": "capteur/temperature/surveillance",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "34a76f7968d546d6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 320,
        "wires": [
            [
                "546760e411950af6"
            ]
        ]
    },
    {
        "id": "546760e411950af6",
        "type": "debug",
        "z": "53a935c937a5d48c",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 320,
        "wires": []
    },
    {
        "id": "9d04ab616afb299f",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.1.149",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "39d6aef39ca31177",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.1.149",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "34a76f7968d546d6",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.1.149",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "09dfb6eb494552eb",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": 8086,
        "protocol": "http",
        "database": "database",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x",
        "url": "http://localhost:8086",
        "timeout": 10,
        "rejectUnauthorized": true
    },
    {
        "id": "fd15ac4528de5e97",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "2e53514f496ef42e",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "2e53514f496ef42e",
        "type": "ui_tab",
        "name": "Tab 1",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "91a9506746a477ea",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-influxdb": "0.7.0",
            "node-red-dashboard": "3.6.6"
        }
    }
]