zone_jaune.json
[
    {
        "id": "ac00e5f31bb28b40",
        "type": "tab",
        "label": "Zone jaune",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "010125af21f7741d",
        "type": "inject",
        "z": "ac00e5f31bb28b40",
        "name": "Déclencher le mouvement",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"mouvement\": 1}",
        "payloadType": "json",
        "x": 170,
        "y": 140,
        "wires": [
            [
                "3b19f27f533fa4b6"
            ]
        ]
    },
    {
        "id": "3b19f27f533fa4b6",
        "type": "mqtt out",
        "z": "ac00e5f31bb28b40",
        "name": "",
        "topic": "jaune/capteur/dht/mouvement",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9d04ab616afb299f",
        "x": 510,
        "y": 140,
        "wires": []
    },
    {
        "id": "ab319a140c91136f",
        "type": "inject",
        "z": "ac00e5f31bb28b40",
        "name": "Délencher de la fumée",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "900",
        "payloadType": "num",
        "x": 880,
        "y": 160,
        "wires": [
            [
                "f2d0c43999107f63"
            ]
        ]
    },
    {
        "id": "f2d0c43999107f63",
        "type": "mqtt out",
        "z": "ac00e5f31bb28b40",
        "name": "",
        "topic": "jaune/capteur/gaz",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "34a76f7968d546d6",
        "x": 1090,
        "y": 160,
        "wires": []
    },
    {
        "id": "cf2476c6d03cba4f",
        "type": "mqtt in",
        "z": "ac00e5f31bb28b40",
        "name": "",
        "topic": "jaune/capteur/mouvement",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "39d6aef39ca31177",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 500,
        "wires": [
            [
                "166e33ef23dce9eb",
                "c277e3d5f707cdd1",
                "a13e04778e3be6fa"
            ]
        ]
    },
    {
        "id": "166e33ef23dce9eb",
        "type": "debug",
        "z": "ac00e5f31bb28b40",
        "name": "mouvement",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 500,
        "wires": []
    },
    {
        "id": "c277e3d5f707cdd1",
        "type": "influxdb out",
        "z": "ac00e5f31bb28b40",
        "influxdb": "3ba3fde0354c6ffb",
        "name": "",
        "measurement": "mouvement",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "groupe_2_SAE_IOM",
        "bucket": "zone_jaune",
        "x": 670,
        "y": 560,
        "wires": []
    },
    {
        "id": "11c05bdc488a3136",
        "type": "mqtt in",
        "z": "ac00e5f31bb28b40",
        "name": "",
        "topic": "jaune/capteur/gaz",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "39d6aef39ca31177",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 280,
        "wires": [
            [
                "bf9f88e2b5a66e37",
                "fe056a3928ec898b"
            ]
        ]
    },
    {
        "id": "bf9f88e2b5a66e37",
        "type": "debug",
        "z": "ac00e5f31bb28b40",
        "name": "debug 11",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 240,
        "wires": []
    },
    {
        "id": "fe056a3928ec898b",
        "type": "influxdb out",
        "z": "ac00e5f31bb28b40",
        "influxdb": "3ba3fde0354c6ffb",
        "name": "",
        "measurement": "gaz",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "groupe_2_SAE_IOM",
        "bucket": "zone_jaune",
        "x": 580,
        "y": 300,
        "wires": []
    },
    {
        "id": "a13e04778e3be6fa",
        "type": "function",
        "z": "ac00e5f31bb28b40",
        "name": "function 1",
        "func": "msg.to = \"yabreami5418@gmail.com\";\nmsg.topic = \"Alerte mouvement\";\nmsg.payload = \"Un mouvement a été détecté en salle mmr!\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 660,
        "wires": [
            [
                "2010918c7180e360"
            ]
        ]
    },
    {
        "id": "eef8f45eaecccecf",
        "type": "e-mail",
        "z": "ac00e5f31bb28b40",
        "server": "smtp.gmail.com",
        "port": "465",
        "authtype": "BASIC",
        "saslformat": true,
        "token": "oauth2Response.access_token",
        "secure": true,
        "tls": true,
        "name": "yabreami5418@gmail.com",
        "dname": "mail",
        "x": 710,
        "y": 640,
        "wires": []
    },
    {
        "id": "2010918c7180e360",
        "type": "ui_toast",
        "z": "ac00e5f31bb28b40",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "Alerte mouvement en salle mmr !",
        "name": "Alerte mouvement ",
        "x": 710,
        "y": 720,
        "wires": []
    },
    {
        "id": "3d34da16f9b41ea8",
        "type": "debug",
        "z": "ac00e5f31bb28b40",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 660,
        "wires": []
    },
    {
        "id": "9d04ab616afb299f",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.1.149",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "34a76f7968d546d6",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.1.149",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "39d6aef39ca31177",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.1.149",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "3ba3fde0354c6ffb",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": 8086,
        "protocol": "http",
        "database": "database",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://influxdb:8086",
        "timeout": 10,
        "rejectUnauthorized": true
    },
    {
        "id": "7793d9a7feea571a",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-influxdb": "0.7.0",
            "node-red-node-email": "5.2.1",
            "node-red-dashboard": "3.6.6"
        }
    }
]