zone_rouge.json
[
    {
        "id": "ffb16dd5494ce9c4",
        "type": "tab",
        "label": "Zone Rouge",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8f11c753ed8a826d",
        "type": "mqtt in",
        "z": "ffb16dd5494ce9c4",
        "name": "",
        "topic": "rouge/capteur/dht/temperature",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "9d04ab616afb299f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 240,
        "wires": [
            [
                "2a5d093977208e53",
                "92c4df37caa45c01"
            ]
        ]
    },
    {
        "id": "2a5d093977208e53",
        "type": "debug",
        "z": "ffb16dd5494ce9c4",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 240,
        "wires": []
    },
    {
        "id": "92c4df37caa45c01",
        "type": "influxdb out",
        "z": "ffb16dd5494ce9c4",
        "influxdb": "3ba3fde0354c6ffb",
        "name": "",
        "measurement": "temperature",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "groupe_2_SAE_IOM",
        "bucket": "zone_rouge",
        "x": 510,
        "y": 320,
        "wires": []
    },
    {
        "id": "960f48f637edee57",
        "type": "mqtt in",
        "z": "ffb16dd5494ce9c4",
        "name": "",
        "topic": "rouge/capteur/gaz",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "39d6aef39ca31177",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 750,
        "y": 220,
        "wires": [
            [
                "41accaa86afb6937",
                "90aa98ced9aa7919"
            ]
        ]
    },
    {
        "id": "41accaa86afb6937",
        "type": "debug",
        "z": "ffb16dd5494ce9c4",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 220,
        "wires": []
    },
    {
        "id": "90aa98ced9aa7919",
        "type": "influxdb out",
        "z": "ffb16dd5494ce9c4",
        "influxdb": "3ba3fde0354c6ffb",
        "name": "",
        "measurement": "co2",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "groupe_2_SAE_IOM",
        "bucket": "zone_rouge",
        "x": 1040,
        "y": 280,
        "wires": []
    },
    {
        "id": "200be76812b1132f",
        "type": "mqtt in",
        "z": "ffb16dd5494ce9c4",
        "name": "",
        "topic": "rouge/capteur/mouvement",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "39d6aef39ca31177",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 730,
        "y": 400,
        "wires": [
            [
                "3837f7f45d04b06b",
                "713242d71e6fe661"
            ]
        ]
    },
    {
        "id": "3837f7f45d04b06b",
        "type": "debug",
        "z": "ffb16dd5494ce9c4",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 400,
        "wires": []
    },
    {
        "id": "713242d71e6fe661",
        "type": "influxdb out",
        "z": "ffb16dd5494ce9c4",
        "influxdb": "3ba3fde0354c6ffb",
        "name": "",
        "measurement": "mouvement",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "groupe_2_SAE_IOM",
        "bucket": "zone_rouge",
        "x": 1090,
        "y": 500,
        "wires": []
    },
    {
        "id": "1671ea91236caa45",
        "type": "inject",
        "z": "ffb16dd5494ce9c4",
        "name": "Déclencher une température élevée",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "temperature",
        "payload": "40",
        "payloadType": "num",
        "x": 180,
        "y": 60,
        "wires": [
            [
                "eb01a49c105288d6"
            ]
        ]
    },
    {
        "id": "eb01a49c105288d6",
        "type": "mqtt out",
        "z": "ffb16dd5494ce9c4",
        "name": "",
        "topic": "rouge/capteur/dht/temperature",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9d04ab616afb299f",
        "x": 410,
        "y": 120,
        "wires": []
    },
    {
        "id": "71e15e3bae391081",
        "type": "inject",
        "z": "ffb16dd5494ce9c4",
        "name": "Injecter script XSS",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"texte\":\"<script>alert('XSS')</script>\"}",
        "payloadType": "json",
        "x": 210,
        "y": 1460,
        "wires": [
            [
                "3e35ebf2ab733655"
            ]
        ]
    },
    {
        "id": "3e35ebf2ab733655",
        "type": "influxdb out",
        "z": "ffb16dd5494ce9c4",
        "influxdb": "bd39de22bf9bb59d",
        "name": "Écrire dans InfluxDB",
        "measurement": "avis",
        "precision": "",
        "retentionPolicy": "",
        "database": "",
        "retentionPolicyV18Flux": "",
        "org": "Lidian",
        "bucket": "commentaires",
        "x": 450,
        "y": 1460,
        "wires": []
    },
    {
        "id": "e0c71c70c6f81740",
        "type": "http in",
        "z": "ffb16dd5494ce9c4",
        "name": "",
        "url": "/commentaires",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 180,
        "y": 1540,
        "wires": [
            [
                "5f54d7d280f23003"
            ]
        ]
    },
    {
        "id": "5f54d7d280f23003",
        "type": "influxdb in",
        "z": "ffb16dd5494ce9c4",
        "influxdb": "bd39de22bf9bb59d",
        "name": "Lire depuis InfluxDB",
        "query": "from(bucket: \"commentaires\") |> range(start: -1d) |> filter(fn: (r) => r._measurement == \"avis\" and r._field == \"texte\")",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "Lidian",
        "x": 430,
        "y": 1540,
        "wires": [
            [
                "e89d18d376c51f48"
            ]
        ]
    },
    {
        "id": "e89d18d376c51f48",
        "type": "function",
        "z": "ffb16dd5494ce9c4",
        "name": "Formater JSON",
        "func": "const commentaires = msg.payload.map(e => e._value);\nmsg.payload = { commentaires };\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 1540,
        "wires": [
            [
                "ee95bb5275aabc62"
            ]
        ]
    },
    {
        "id": "ee95bb5275aabc62",
        "type": "http response",
        "z": "ffb16dd5494ce9c4",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 860,
        "y": 1540,
        "wires": []
    },
    {
        "id": "c8f855d8f7ca4b85",
        "type": "inject",
        "z": "ffb16dd5494ce9c4",
        "name": "Délencher un Incendie",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "2000",
        "payloadType": "num",
        "x": 820,
        "y": 40,
        "wires": [
            [
                "9abf1de4f9cd3310"
            ]
        ]
    },
    {
        "id": "9abf1de4f9cd3310",
        "type": "mqtt out",
        "z": "ffb16dd5494ce9c4",
        "name": "",
        "topic": "rouge/capteur/gaz",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "39d6aef39ca31177",
        "x": 1050,
        "y": 100,
        "wires": []
    },
    {
        "id": "bf5dc7108c05d3fb",
        "type": "mqtt in",
        "z": "ffb16dd5494ce9c4",
        "name": "",
        "topic": "rouge/capteur/dht/humidite",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "39d6aef39ca31177",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 420,
        "wires": [
            [
                "3a7b0162b9e5984c",
                "9176ed0b854c3015"
            ]
        ]
    },
    {
        "id": "3a7b0162b9e5984c",
        "type": "debug",
        "z": "ffb16dd5494ce9c4",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 420,
        "wires": []
    },
    {
        "id": "9176ed0b854c3015",
        "type": "influxdb out",
        "z": "ffb16dd5494ce9c4",
        "influxdb": "3ba3fde0354c6ffb",
        "name": "",
        "measurement": "humidite",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "groupe_2_SAE_IOM",
        "bucket": "zone_rouge",
        "x": 500,
        "y": 500,
        "wires": []
    },
    {
        "id": "b7334cc5e79891a9",
        "type": "mqtt in",
        "z": "ffb16dd5494ce9c4",
        "name": "",
        "topic": "rouge/capteur/choc",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "39d6aef39ca31177",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 580,
        "wires": [
            [
                "8391c0e6c466772f",
                "5d361faa0eaeca7c"
            ]
        ]
    },
    {
        "id": "8391c0e6c466772f",
        "type": "debug",
        "z": "ffb16dd5494ce9c4",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 580,
        "wires": []
    },
    {
        "id": "5d361faa0eaeca7c",
        "type": "influxdb out",
        "z": "ffb16dd5494ce9c4",
        "influxdb": "3ba3fde0354c6ffb",
        "name": "",
        "measurement": "choc",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "groupe_2_SAE_IOM",
        "bucket": "zone_rouge",
        "x": 550,
        "y": 660,
        "wires": []
    },
    {
        "id": "9d04ab616afb299f",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.1.149",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "3ba3fde0354c6ffb",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": 8086,
        "protocol": "http",
        "database": "database",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://influxdb:8086",
        "timeout": 10,
        "rejectUnauthorized": true
    },
    {
        "id": "39d6aef39ca31177",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.1.149",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "bd39de22bf9bb59d",
        "type": "influxdb",
        "hostname": "localhost",
        "port": "8086",
        "protocol": "http",
        "database": "commentaires",
        "name": "InfluxDB",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://localhost:8086",
        "timeout": "",
        "rejectUnauthorized": false
    },
    {
        "id": "2a07a70e615323e3",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-influxdb": "0.7.0"
        }
    }
]